parameters:
    level: max
    paths:
        - src
        - database
        - tests/Fixtures/User.php
        - tests/TestCase.php
    tmpDir: build/phpstan

    reportUnmatchedIgnoredErrors: true
